body {
  font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #fff;
  background: #000;
  /* background: #0f032d; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  font-size: 16px;

  margin: 20px;
  border: 1px solid #fff;
}

.scramble {
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 210px;

  border-bottom: 1px solid #fff;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 200px;

  border-right: 1px solid #fff;
}

.timer__title {
  border-bottom: 1px solid #fff;
  text-align: center;
  padding: 5px;
}

.timer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.timer__value {
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.results {
  width: 100%;
  max-width: 400px;
  min-width: 200px;

  border-right: 1px solid #fff;
}

.results__title {
  border-bottom: 1px solid #fff;
  text-align: center;
  padding: 5px;
}

.results__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  /* height: 182px; */
  /* overflow: auto; */
}

.results__item {
  border: 1px solid #fff;
  /* padding: 5px; */
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.results__item:hover {
  cursor: pointer;
}

.results__value {
  /* margin-right: 5px; */
  padding: 5px;
}

.results__delete {
  display: block;
  padding: 5px;
  width: 26px;
  height: 26px;
  background: url(../assets/delete.svg) no-repeat center center / 50%;
}

.statistics {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
}

.statistics__title {
  border-bottom: 1px solid #fff;
  text-align: center;
  padding: 5px;
}

.statistics__item {
  padding: 10px;
}

.information__title {
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.information__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.information__link {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.information__link::before {
  content: '';
  display: block;
  width: 1px;
  height: 50%;

  background: #fff;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.information__link:last-child::before {
  display: none;
}

.information__link:hover {
  background: rgba(255,255,255,0.2);
}