body {
  font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #fff;
  background: #000;
  // background: #0f032d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  font-size: 16px;

  margin: 20px;
  border: 1px solid #fff;
}

.scramble {
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.main {
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #fff;
}

.timer {
  width: 100%;
  height: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;

  border-right: 1px solid #fff;

  &__title {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #fff;
  }
  
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  &__value {
    font-size: 40px;
    line-height: 1;
    text-align: center;
  }
}

.results {
  width: 100%;
  height: 100%;
  max-width: 398px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #fff;

  &__title {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #fff;
  }

  &__list {
    height: 100%;
    padding: 5px;

    overflow-y: scroll;
  }

  &__item {
    display: inline-block;
    margin: 5px;

    border: 1px solid #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:hover {
      background: rgba(255,255,255,0.3);
    }
  }

  &__value {
    display: inline-block;
    vertical-align: middle;
    padding: 6px;
  }

  &__delete {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    padding: 5px;
    background: url(../assets/delete-red.svg) no-repeat center center / 50%;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #922323;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(100%);
      transition: .3s ease-in;
      z-index: -1;
    }
    &:hover {
      &::before {
        transform: translateX(0%);
      }
    }
  }
}

.statistics {
  width: 100%;
  max-width: 300px;
  min-width: 200px;

  &__title {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #fff;
  }

  &__list {
    padding: 10px;
  }

  &__item {
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.information {
  &__top {
    padding: 10px;
  }

  &__title {
    display: inline-block;
    padding-right: 24px;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      width: 14px;
      height: 14px;
      background: url(../assets/arrow.svg) no-repeat center center / contain;

      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);
    }
    &.active::before {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__container {
    border-top: 1px solid #fff;
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__link {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255,255,255,0);
    &:hover {
      // background: rgba(255,255,255,0.3);
      border-color: rgba(255,255,255,1);
    }
  }

  &__list {
    padding: 10px;
  }

  &__item {
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
